<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
	<link rel="stylesheet" th:href="@{/css/password.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
</head>
<body>

    <!--Navbar-->
    <header th:replace="fragments/navbar :: navbar"></header>

    <div class="forgotpassword-container">
        <div class="forgotpassword-box">
            <h2>Recover Password</h2>
              <form th:action="@{/forgot-password}" method="post">
	           <div class="input-group">
                 <label for="email">Enter your registered email:</label>
                 <input type="email" id="email" name="email" required placeholder="Email">
	           </div>
                 <button type="submit" class="btn-primary">Submit</button>
              </form>
			  
		</div>
    </div>
